<div class="row">
  <div class="column">
    <!-- Main information, edit it on theme/_config.yml -->
    <img src="<%- url_for('/images/main.jpg') %>" alt="<%= theme.owner %>" class="about mb-3">
    <h2 class="mb-2"><%= theme.owner %></h2>
    <p><%= theme.info %></p>
    <p><%= theme.desc %></p>
  </div>
</div>

<h3>Recent Posts</h3>

<% site.posts.sort('date', 'desc').limit(theme.max_post).forEach(function(post){ %>
<div class="row home-post-row">
  <div class="three columns left lit home-post-date">
    <p class="bottom"><%- full_date(post.date, 'll') %></p>
  </div>
  <div class="nine columns left mb-3 home-post-title">
    <a href="<%- url_for(post.path) %>" class="interactive-link">
      <% if (post.title === '') { %>
        no title
      <% } else { %>
        <%- post.title %>
      <% } %>
    </a>
  </div>
</div>
<% }) %>

<h4> <a href="<%= config.root %>archives" class="interactive-link">All Posts</a></h4>
